<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/forgot_password.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/icons8-study-arcade-96.png">
</head>
<body>

<div class="card">

    <div class="logo">
        <img src="/Logo.png" alt="Logo">
    </div>

    <div class="heading">
        <h1>Password Reset</h1>
    </div>

    <div class="form-container">
        <form method="POST" action="/forgot_password">
            <% if (error) { %>
            <p style="color:red;"><%= error %></p>
            <% } %>

            <input
                    type="email"
                    name="email"
                    placeholder="Enter your registered email"
                    required
            >

            <button type="submit">Send OTP</button>
        </form>
    </div>

</div>

</body>
</html>