<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="/icons8-study-arcade-96.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans+Flex:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link id="themeStylesheet" rel="stylesheet" href="/pricing.css">
    <meta charset="UTF-8">
    <title>Pricing</title>
</head>
<body>
     <div class="header">
         <div class="logo-text home">
             <img src="/Logo.png" alt="">
             <h1>SolveR</h1>
         </div>
         <div class="pages-links">
             <div style="border-bottom:1px solid #00e5c0; padding:5px;" class="link-container Pricing">
                 Join Us
             </div>
             <div class="link-container Work-Centre">
                 Work-Center
             </div>
             <div class="link-container Contact">
                 Contact
             </div>
             <div class="link-container-profile-icon">

             </div>
         </div>
     </div>
     <div class="drop-down-profile">
         <div class="drop-down-menu-box profile">
             Profile
         </div>
<!--         <div class="drop-down-menu-box dark-mode-toggle">-->
<!--             Light Mode-->
<!--         </div>-->
         <div class="drop-down-menu-box settings">
             Settings
         </div>
         <div class="drop-down-menu-box LogOut">
             Logout
         </div>
     </div>
     <div class="contents" >
         <div class="content-header">
             Become A <span style="color:rgba(0, 229, 192, 0.74)">SolveR</span> Member Today..!
         </div>
         <div class="card-container" style="margin-top:-2vh;display:flex;justify-content:space-around;align-items:center;flex-direction:row;gap:100px">
             <div class="card-left cards">
                 <h1  class="card-title-left" style="background: linear-gradient(135deg,#000000,#2b2b2b,#9ea0a3,#ffffff,#6e6e6e,#111111);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;">
                     Free Tier
                 </h1>
                 <div class="tags-container">
                     <div class="tag-card">
                         <div class=" bullet bullet-left">

                         </div>
                         <div class=" tag tag-left">
                               Unlimited AI answers
                         </div>
                     </div>
                     <div class="tag-card">
                         <div class="bullet  bullet-left">

                         </div>
                         <div class="tag tag-left">
                             Limited Image Uploads
                         </div>
                     </div>
                     <div class="tag-card">
                         <div class="bullet  bullet-left">

                         </div>
                         <div class="tag tag-left">
                             Limited Capacity Model
                         </div>
                     </div>
                 </div>
             </div>
             <div class="card-middle cards">
                 <h1  class="card-title-middle" style=" background: linear-gradient( 135deg,#3b3baf,#2e2e6e,rgba(65, 65, 166, 0.85),#323280,#000000);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;">
                     Tier Exclusive
                 </h1>
                 <div class="tags-container">
                     <div class="tag-card">
                         <div class="bullet bullet-middle">

                         </div>
                         <div class="tag tag-middle">
                             Unlimited AI answers
                         </div>
                     </div>
                     <div class="tag-card">
                         <div class="bullet bullet-middle">

                         </div>
                         <div class="tag tag-middle">
                             Unlimited Image Uploads
                         </div>
                     </div>
                     <div class="tag-card">
                         <div class="bullet bullet-middle">

                         </div>
                         <div class="tag tag-middle">
                             STEM Trained AI Model
                         </div>
                     </div>
                 </div>
                 <div style="flex-direction: column" class="purchase-button exclusive">
                       Join Exclusive
                     <br>
                     <span style="font-size:1.7vh;color:rgba(0,255,41,0.74)">(Recommended)</span>
                 </div>
             </div>
             <div class="card-right cards">
                 <h1 class="card-title-right" style="background: linear-gradient(135deg, #19160a, #d4af37, #ffd700, #775c00);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;">
                     Tier Legendary
                 </h1>
                 <div class="tags-container">
                     <div class="tag-card">
                         <div class="bullet bullet-right">

                         </div>
                         <div class="tag tag-right">
                             Unlimited AI answers
                         </div>
                     </div>
                     <div class="tag-card">
                         <div class="bullet bullet-right">

                         </div>
                         <div class="tag tag-right">
                             Unlimited Image Uploads
                         </div>
                     </div>
                     <div class="tag-card">
                         <div class="bullet bullet-right">

                         </div>
                         <div class="tag tag-right">
                            Chat-GPT + Claude Code
                         </div>
                     </div>
                 </div>
                 <div style="flex-direction: column" class="purchase-button legendary">
                      Join Legendary
                     <br>
                     <span style="font-size:1.7vh;color:rgba(0,255,41,0.74)">(Recommended for educators)</span>
                 </div>
             </div>
         </div>

     </div>
     <script src="/pricing.js"></script>
</body>
</html>