
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
}
body{
    background-color:#0d1117;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    height:fit-content;
    width:40vw;
    border:1px solid rgba(0, 255, 200, 0.15);
    border-radius:10px;
    box-shadow: inset 2px 1px 50px 0px rgba(0, 255, 200, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:30px;
    gap:10px;
}
.card .logo img{
    height:50px;
    width:60px;
}
.card .heading h1{
    color:#006c56;
}
.form-container{
    padding:10px;
}
.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    font-family:"Poppins",sans-serif;
}
.form-container form input{
    width:400px;
    height:50px;
    background:transparent;
    border:1px solid rgba(0, 255, 200, 0.15);
    padding:10px;
    outline:none;
    border-radius:5px;
    color:rgba(0, 255, 200, 0.8);
}
.form-container form input:focus{
    outline:none;
    box-shadow: 2px 1px 20px 0px rgba(0, 255, 200, 0.12);
}
.form-container form button{
    border:none;
    background-color:#006c56;
    color:#fff;
    outline:none;
    padding:10px 50px;
    border-radius:5px;
    cursor:pointer;
}
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid rgba(0, 255, 200, 0.15);
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    color:rgba(0, 255, 200, 0.8);
}
select:focus {
    outline:none;

}
a, a:link, a:visited, a:hover, a:focus, a:active {
    /*color: inherit;         !* Inherits color from parent element *!*/
    text-decoration: none;  /* Removes underlines */
    /* Add other properties you want to reset, for example: */
    font-weight: normal;
    background-color: transparent;
}
a{
    color: rgba(0, 255, 200, 0.51);
    font-size:15px;
}
a:hover{
    color: rgba(0, 255, 200, 0.76)
}
a:active{
    color: rgba(0, 255, 200, 0.51);
}